{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'todo/style.css' %}">
    </head>
    <body>
        <header class="page-header">
            <h1><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> To do list <small>Today - {% now "Y.m.d" %}</small></h1>
        </header>
        <main class="container">
           {% block content %}
           {% endblock %}
            <article>
                <section id="deadline-list" class="todo_section">
                </section>
                <section id="to-do-list" class="todo_section">
                </section>
                <section id="done-list" class="todo_section">
                </section>
            </article>
        </main>
        <footer class="text-right">
            <address>
                Ko Kyoungpyo<br>
                <a href="https://github.com/kgpyo/TODOlistWithDjango">github soruce</a><br>
                <a href="mailto:kgpyo123@gmail.com">kgpyo123@gmail.com</a>
            </address>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            $.get("{% url 'todo:todolist' %}", function(html) {
                $('#to-do-list').append(html)
            })
            $.get("{% url 'todo:done' %}", function(html) {
                $('#done-list').append(html)
            })
            $.get("{% url 'todo:deadline' %}", function(html) {
                $('#deadline-list').append(html)
            })
        </script>
    </body>
</html>