{% extends 'todo/body.html' %}
{% block title %}{{content.title}}{% endblock%}
{% block subtitle %}{{content.title}}세부정보{% endblock%}
{% block content %}
<form method="post" action="{% url 'todo:todo' content.pk %}">
    {% csrf_token %}
    <input type="hidden" name="_method" value="put">
    <div class="form-inline">
            <div class="form-group">
                <select name="priority" class="form-control">
                    <option value="1" {% if content.priority == 1 %}checked{% endif %}>일반</option>
                    <option value="2" {% if content.priority == 2 %}checked{% endif %}>긴급</option>
                    <option value="3" {% if content.priority == 3 %}checked{% endif %}>중요</option>
                    <option value="4" {% if content.priority == 4 %}checked{% endif %}>긴급/중요</option>
                </select>
            </div>
            <div class="form-group">
                <input type="checkbox" class="form-control" name="setDeadline" value="1" {% if content.deadline %}checked{% endif %}>마감기한
                <input type="date" class="form-control" name="deadline" value="{{ content.deadline|date:'Y-m-d' }}">
            </div>
            <div class="form-group">
                <input type="submit" value="수정" class="btn btn-primary" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="할일" name="title" class="form-control" value="{{ content.title }}">
        </div>
        <div class="form-group">
            <textarea rows="3" name="text" class="form-control" placeholder="세부내용">{{ content.text  }}</textarea>
        </div>
    </form>
</form>
{% endblock %}