{% extends 'todo/body.html' %}
{% block title %}To do List{% endblock %}
{% block content %}
<article>
    <seciton class="todo_section">
        {% if content %}
            <h2>{{ content.title }}<small>세부정보</small> <a href="{% url 'todo:index' %}" class="btn btn-default">새글작성</a></h2>
        {% endif %}
        <form method="post" action="{% url 'todo:index' %}" class="todo-form">
            {% csrf_token %}
            <div class="todo-form-inline">
                <div style="flex:2">
                    <select name="priority" required>
                        {% for priority in priority_choices %}
                        {% if content and content.priority == priority.0 %}
                        <option value="{{ priority.0 }}" selected>{{ priority.1 }}</option>
                        {% else %}
                        <option value="{{ priority.0 }}">{{ priority.1 }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div style="flex:2">
                    <input type="date" {% if content.deadline %}value="{{ content.deadline|date:'Y-m-d'}}"{% endif %}>
                </div>
                <div style="flex:1">
                    <input class="btn btn-primary" type="submit" value="{% if content %}수정{% else %}작성{% endif %}">
                </div>
            </div>
            <div>
                <div><input class="todo-form-control" type="text" placeholder="해야 할 일(필수입력)" name="title" value="{{ content.title }}" required></div>
                <div><textarea class="todo-form-control" placeholder="구체적인 설명(선택입력)">{{ content.text }}</textarea></div>
            </div>
        </form>
    </seciton>
</article>
{% endblock %}