{% extends 'todo/body.html' %}
{% block title %}To do List{% endblock %}
{% block content %}
<article>
    <seciton class="todo_section">
        {{ form.management_form }}
        {% if modify %}
            <h2>{{ form.title.value }}<small>세부정보</small> <a href="{% url 'todo:index' %}" class="btn btn-default">새글작성</a></h2>
        {% endif %}
        {% if modify %}
        <form method="post" action="{% url 'todo:detail' todo_id %}" class="todo-form">
            <input type="text" name="_method" value="put" hidden>
        {% else %}
        <form method="post" action="{% url 'todo:index' %}" class="todo-form">
        {% endif %}
            {% csrf_token %}
            <div class="todo-form-inline">
                <div style="flex:2">
                    {{ form.priority }}
                </div>
                <div style="flex:2">
                    {{ form.deadline }}
                </div>
                <div style="flex:1">
                    <input class="btn btn-primary" type="submit" value="{% if modify %}수정{% else %}작성{% endif %}">
                </div>
            </div>
            <div>
                <div>{{ form.title }}</div>
                <div>{{ form.text }}</div>
            </div>
        </form>
    </seciton>
</article>
{% endblock %}