{% extends 'todo/body.html' %}
{% block title %}To do List{% endblock %}
{% block subtitle %}메인페이지{% endblock %}
{% block content %}
            <article>
                    <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ goal }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ goal }}%">
                              달성률 {{ goal }}%
                            </div>
                          </div>
            </article>
            <article>
                <form method="POST" action="{% url 'todo:index' %}">
                    {% csrf_token %}
                    <div class="form-inline">
                        <div class="form-group">
                            <select name="priority" class="form-control">
                                <option value="1" checked>일반</option>
                                <option value="2">긴급</option>
                                <option value="3">중요</option>
                                <option value="4">긴급/중요</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="form-control" name="setDeadline" value="1">마감기한
                            <input type="date" class="form-control" name="deadline">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="작성" class="btn btn-primary" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="할일" name="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea rows="3" name="text" class="form-control" placeholder="세부내용"></textarea>
                    </div>
                </form>
            </article>
           <article>
                {% if deadline_over_count > 0 %}
                <section id="deadline-list">
                    <h1>Deadline is Over</h1>
                    <div class="alert alert-danger">
                        마감지한이 지난 할일이 <strong>{{ deadline_over_count }}</strong>건 있습니다.
                    </div>
                </section>
                {% endif %}
           </article>
{% endblock %}