{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'todo/style.css' %}">
<h2>{{ board_name }} {% if to_do_list %}<span class="todo-badge">{{ to_do_list.count }}</span>{% endif %}</h2>
{% if not to_do_list %}
<div class="alert alert-info" role="alert">데이터가 없습니다.</div>
{% else %}
<table class="table table-hover to-do-table">
    <tr>
        <th>삭제</th>
        <th>제목</th>
        <th>작성일</th>
        <th>마감기한</th>
        <th>완료</th>
    </tr>
    {% for content in to_do_list %}
    <tr>
        <td class="col-sm-1">
            <!-- 데이터 삭제 -->
            <form method="post" action="{% url 'todo:detail' content.pk %}" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="_method" value="delete">
                <button type="submit" title="글 삭제" class="hidden-button" onclick="return confirm('삭제하시겠습니까?')">               
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </form> 
        </td>
        <td class="col-sm-7">
            <a href="{% url 'todo:detail' content.pk %}">
                <!-- 우선순위 표기 -->
            {% if content.priority == 1 %}
            <span class="category-badge category-badge-1">
            {% elif content.priority == 2 %}
            <span class="category-badge category-badge-2">
            {% elif content.priority == 3 %}
            <span class="category-badge category-badge-3">
            {% elif content.priority == 4 %}
            <span class="category-badge category-badge-4">
            {% endif %}
            {{content.get_priority_display}}
            </span>
            <!-- TODO 제목 -->
                {{ content.title }}
            </a>
        </td>
        <!-- 작성일 표시 -->
        <td class="col-sm-2">
            <small>
            {{ content.write_date|date:'y.m.d h:m' }}
            </small>
        </td>
        <!-- 마감기한 표시 -->
        <td class="col-sm-2">
            {% if content.deadline %}
                <strong>{{ content.deadline|date:'y.m.d' }}</strong>까지
            {% else %}
                -
            {% endif %}
        </td>
        <!-- 완료/미완료 처리 -->
        <td class="col-sm-2">
            {% if content.is_done == True %}
            <button onclick="location.href='{% url 'todo:incomplete' content.pk %}'" class="todo-checkbox" title="완료 취소">
                <span class="glyphicon glyphicon-chevron-down red" aria-hidden="true"></span>
            </button>
            {% else %}
            <button onclick="location.href='{% url 'todo:complete' content.pk %}'" class="todo-checkbox" title="완료">
            <span aria-hidden="true"></span>
            </button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}