<h2>{{ board_name }} {% if to_do_list %}<span class="todo-badge">{{ to_do_list.count }}</span>{% endif %}</h2>
{% if not to_do_list %}
<div class="alert alert-info" role="alert">데이터가 없습니다.</div>
{% else %}
<table class="table table-hover">
    {% for content in to_do_list %}
    <tr>
        <td class="col-sm-8">
            <!-- 데이터 삭제 -->
            <form method="post" action="{% url 'todo:todo' content.pk %}" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="_method" value="delete">
                <button type="submit" title="글 삭제" class="hidden-button">               
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </form> 
            <!-- 우선순위 표기 -->
            {% if content.priority == 1 %}
            <span class="category-badge category-badge-1">
            {% elif content.priority == 2 %}
            <span class="category-badge category-badge-2">
            {% elif content.priority == 3 %}
            <span class="category-badge category-badge-3">
            {% elif content.priority == 4 %}
            <span class="category-badge category-badge-4">
            {% endif %}
            {{content.get_priority_display}}
            </span>
            <!-- TODO 제목 -->
            <a style="display: inline" href="{% url 'todo:todo' content.pk %}">
                {{ content.title }}
            </a>
        </td>
        <!-- 작성일 표시 -->
        <td class="col-sm-2">
            <small>
            {{ content.write_date|date:'y.m.d h:m' }}작성
            {% ifnotequal content.write_date content.updated_date %}<br>
            <small>
                {{content.updated_date|date:'y.m.d h:m'}}수정
            </small>
            {% endifnotequal %}
        </small>
        </td>
        <!-- 마감기한 표시 -->
        <td class="col-sm-2">
            {% if content.deadline %}
                <strong>{{ content.deadline|date:'y.m.d' }}</strong>까지
            {% else %}
                -
            {% endif %}
        </td>
        <!-- 완료/미완료 처리 -->
        <td class="col-sm-2">
            <form method="post" action="{% url 'todo:todo' content.pk %}">
                {% csrf_token %}
                <input type="text" name="_method" value="put" hidden>
                {% if content.is_done == True %}
                <input type="hidden" name="is_done" value=0>
                <button type="submit" class="todo-checkbox" title="완료 취소">
                    <span class="glyphicon glyphicon-chevron-down red" aria-hidden="true"></span>
                </button>
                {% else %}
                <input type="hidden" name="is_done" value=1 title="완료">
                    <button type="submit" class="todo-checkbox">
                </button>
                {% endif %}
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}